<html>
    <head>
       <title>
            Add Product
       </title> 
       <% include partials/header %>
    </head>
    <body>
            <div id="app">
                <div class="productMangment flex justify-center" id="addproduct">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="text-info text-4xl font-bold text-center">Add Products</h3>
                                    </div>
                                    <div class="card-body">
                                        <form method="post" action="/addproduct" enctype="multipart/form-data">
                                            <div class="mb-3 flex flex-col">
                                                <label>Product Name</label>
                                                <input type="text" name="product_name" placeholder="Enter Name of product"
                                                    class="input input-bordered" required />
                                            </div>
                                            <div class="mb-3 flex flex-col">
                                                <label>Product Price</label>
                                                <input type="number" name="product_price" placeholder="Enter Price of product"
                                                    class="input input-bordered" min="0" required />
                                            </div>
                                            <div class="mb-3 flex flex-col">
                                                <label>Product Quantity</label>
                                                <input type="number" name="product_quantity"
                                                    placeholder="Enter Quantity of product" class="input input-bordered" min="0"
                                                    required />
                                            </div>
                                            <div class="mb-3 flex flex-col">
                                                <label>Product Description</label>
                                                <input type="text" name="product_description"
                                                    placeholder="Enter Description of product" class="input input-bordered"
                                                    required />
                                            </div>
                                            <div class="mb-3 flex flex-col">
                                                <label>Product Image</label>
                                                <input type="file"
                                                    class="file-input file-input-bordered file-input-primary w-full max-w-xs"
                                                    accept="" name="product_image" />
                                            </div>
                                            <div class="mb-3 flex justify-center ">
                                                <input type="submit" class="btn btn-info text-black" value="Add Product" />
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>