<html>

<head>
    <title>
        Show Product
    </title>
    <% include partials/header %>
</head>

<body style="height: auto; background: #1f242d;">
    <div id="app" style="height: 100vh; max-height: 500vh;  width: 100vw;
  height: 100vh; background: #1f242d;">
        <div id="products" class="hidden justify-center flex-wrap z-50 bg-base-300">

        </div>
    </div>
    <script src="/javascripts/index.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            showProducts();
        })
    </script>
</body>

</html>