@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hammersmith+One&family=Josefin+Sans:wght@500&family=Open+Sans:wght@700&family=Oswald:wght@600&family=PT+Sans&family=Poppins:wght@500&display=swap");
body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}
ul {
  z-index: 50;
}

#products {
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 20px;
  z-index: 1;
}
#products .product {
  margin-right: 10px;
  margin-left: 10px;
}
#products .product .card {
  text-align: center;
  transition: 0.3s;
  scale: 1;
  min-height: 400px;
}
#products .product .card:hover {
  scale: 0.95;
}
#products .product img {
  object-fit: cover;
  border-radius: 10px;
}
#products .product .product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
}
#products .product .card {
  width: 27vw;
  padding: 25px;
}
.ALERT {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 5;
}

@media (max-width: 900px) {
  .ALERT {
    width: 90vw;
  }
  .navbar .flex-1 {
    display: none;
  }
  #products {
    margin-top: 15vw;
  }
  #products .product .card {
    font-size: small;
    width: 90vw;
  }
}
